@import 'tailwindcss';

* {
    font-family: 'Prompt', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility activeDesc {
  opacity: 1;
  visibility: visible;
}

@utility inactiveDesc {
  opacity: 0;
  visibility: hidden;
}

@utility activeImage {
  opacity: 1;
  z-index: 1;
}
@utility inactiveImage {
  opacity: 0.4;
}