@import 'tailwindcss';

@theme {
  --font-kanit: 'Kanit', sans-serif;
}

.font-kanit {
  font-family: var(--font-kanit);
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}